body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ffffffc7;
  /* background-image: url(./media/sand-dunes2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#night-mode-toggle {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
  padding: 0.5em;
  border: #aff solid 2px;
  box-shadow: #aff 5px 6px 0px 0px;
  transition: box-shadow 0.5s ease-in-out;
  margin-right: 0;
}

#night-mode-toggle:hover {
  box-shadow: #aff 1px 1px 0px 0px;
  background-color: black;
  color: #aff;
  border-color: black;
}

body.night-mode {
  background-color: #222;
  color: #fff;
}
body.night-mode h1 {
  background-color: #333;
  color: #fff;
}

body.night-mode .nav-bar a {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

body.night-mode #interests-grid li {
  background-color: #333;
  color: #fff;
}

body.night-mode #course-grid li {
  background-color: #333;
  color: #fff;
}

body.night-mode #night-mode-toggle {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

body.night-mode #contact a {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

body.night-mode .nav-bar {
  background-color: rgb(51, 51, 51, 0.8);
}


h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  background-color: white;
  padding: 0.5em;
  border: #aff solid 2px;
  box-shadow: #aff 5px 6px 0px 0px;
  transition: box-shadow 0.5s ease-in-out;
}

h1:hover {
  box-shadow: #aff 1px 1px 0px 0px;
  background-color: black;
  color: #aff;
  border-color: black;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav-bar {
  width: 100%;
  height: 3.5em;
  background-color: rgb(255, 255, 255, 0.8);
  top: 0;
  position: sticky;
  z-index: 1;

}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
  margin-right: 2em;
}

.nav-bar li {
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  background-color: white;
  padding: 0.5em;
  border: white solid 2px;
  box-shadow: #aff 5px 4px 0px 0px;
  transition: box-shadow 0.5s ease-in-out;
}

.nav-bar a:hover {
  box-shadow: #aff 1px 1px 0px 0px;
  background-color: black;
  color: #aff;
  border-color: black;
}

.card {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 5px 4px 2px 4px #aff;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 5px 4px 2px 4px rgb(175, 153, 255);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h1 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.scrollable-div {
  height: 20em;
  overflow-y: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding-right: 2em;
  padding-left: 2em;
  scrollbar-color: transparent transparent;
}

.scrollable-div ul {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.scrollable-div li {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #aff;
  transition: all 0.3s ease-in-out;
  height: 3em;
}

.scrollable-div li:hover {
  background-color: #6a6a69;
  color: white;
}
#interests-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0;
  margin: 0;
}
#interests-card {
  padding-top: 10em;
}

#course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0;
  margin: 0;
}

#course-grid li {
  list-style: none;
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #ff9899;
  border-radius: 5px;
  box-shadow: #fffdfd 0px 0px 0px 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

#course-grid li:hover {
  background-color: #ffb7ce;
  box-shadow: #ca9bf7 0px 0px 20px 6px;
  color: grey;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
}

.container:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

#showcase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#pics-header {
  margin-bottom: 1.5em;
}

#contact a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  background-color: white;
  padding: 0.5em;
  border: white solid 2px;
  box-shadow: #aff 5px 4px 0px 0px;
  transition: box-shadow 0.5s ease-in-out;
}

#contact a:hover {
  box-shadow: #aff 1px 1px 0px 0px;
  background-color: black;
  color: #aff;
  border-color: black;
}

#contact ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0;
}

#contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
